<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XML_Parser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42E46BBD1E3B094900311EC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42E46BD41E3B094900311EC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42E46BDF1E3B094900311EC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
